/* .div2{
    background-image: url(https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png);
} */
.full{
    margin: 100px;
    padding: 20px;
    width: 330px;
    margin: auto;
    text-align: center;
     
    
   
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    padding: 4%;

}
.input2{
    border:none;
   border-bottom: 2px solid #8d99ae;
  padding: 10px;
}
.button2{
    background: rgb(161, 74, 161);
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 45px;
    color: #fff;
    cursor: pointer;
    margin-top: 16px;
  
    border: none;
}
.button2:hover{
    background-color: rgb(189, 47, 47);
}